
<div class="container">	
	<div class="row">
		<div class="col-md-12 display">
			<div class="display-info">

				<h1>Forecast Info</h1>
				<%= @forecast.fetch_forecast("90210") %></p>

			</div>
		</div>
	</div>
</div>