// Place all the styles related to the forecasts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-unit {
	background-color: #90CAF9;
	padding: 25px;
	border-radius: 10px;
}

.intro-text {
	text-align: center;	
}

.search-form {
	border: solid 1px black;	
	border-radius: 4px;
	width: 80%;
	margin: 8% auto 0 auto;

	p {
		padding: 10px;
		width: 100%;
	}
	
	label, input {
		width: 100%;
		
	}
	
}

.display {
	text-align: center;
}

.display-info {
	margin: 7% auto 7% auto;

}